<table class="table table-striped">
  <thead>
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      <!--<th>Fecha de Salida</th>-->
      <th>Valor</th>      
      <th>Cantidad de Asientos</th>
      <th>Viajero</th>       
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ruta of RutaService.rutaList">
        <td>{{ruta.origen}}</td>
        <td>{{ruta.destino}}</td>
        <!-- <td>{{ruta.fechasalida}}</td>-->
        <td>{{ruta.valor}}</td>
        <td>{{ruta.cantidadasientos}}</td>
        <td>{{ruta.idUsuario.nombreUsuario}}</td>
       <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#compraModal">
          Comprar
        </button></td>     
    </tr>    
  </tbody>
</table>

<div class="modal fade" id="compraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Realizar Compra</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                    <!--<th>Fecha de Salida</th>-->
                    <th>Valor</th>      
                    <!--<th>Cantidad de Asientos</th>-->
                    <th>Viajero</th>      
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ruta of RutaService.rutaList">
                      <td>{{ruta.origen}}</td>
                      <td>{{ruta.destino}}</td>
                      <!-- <td>{{ruta.fechasalida}}</td>-->
                      <td>{{ruta.valor}}</td>
                      <!--<td>{{ruta.cantidadasientos}}</td>-->
                      <td>{{ruta.idUsuario.nombreUsuario}}</td>
                     <td><div class="checkbox">
                        <label><input type="checkbox" value="">Seleccione</label>
                      </div></td>     
                  </tr>    
                </tbody>
              </table>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>