<div class="card text-center">
    <div class="card-header">
      Bienvenido a TiqueteslAppp
    </div>
    <div class="card-body">
      <!--<h4 class="card-title">Special title treatment</h4>-->
      <p class="card-text">Puedes Comprar Tus tiquetes terrestres con un click</p>
      <img src="http://icons.iconarchive.com/icons/fasticon/happy-bus/256/bus-yellow-icon.png">
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
    <div class="card-footer text-muted">
      Selecciona la opcion que desees en el menu de arriba
    </div>
  </div>

  
